
<div class="text-center">
    <h4>Votre Commande :</h4>
    <p>La commande de votre pizza personnalisée est validée.</p>
    <p>Récapitulatif de vos ingrédients choisis :</p>
    <p *ngIf="pizza.base">
        - Base choisie : {{pizza.base}}
    </p>
    <p> Les ingrédients :</p>
    <p *ngIf="pizza.anchois">
        - Anchois
    </p>
    <p *ngIf="pizza.jambon">
        - Jambon
    </p>
    <p *ngIf="pizza.miel">
        - Miel
    </p>
    <p *ngIf="pizza.magret">
        - Magret
    </p>
    <br />
    <button class="btn btn-success" routerLink="">Merci - Retour à l'accueil</button>
</div>


