<header>
  <div class="view intro-2 border-bottom border-danger">
    <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text">
          <div class="white-text text-center wow fadeInUp">
            <h3>Pizza Mania</h3>
            <p>La folie des pizzas de trois étudiants LP APSIOs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2019 Gaël Patarin, Guillem Lleida et Alexandre Leuridan - LP APSIO
  </div>
</footer>