
<div *ngIf="!isLoading" class="text-center mt-3 mb-3">
    <button class="btn btn-warning" routerLink="">Retour à l'accueil</button>
</div>
<h4 class="text-center" >Carte des Pizzas</h4>

<div>
  <div class="row text-center" *ngIf="isLoading">
    <div class="col">
     <img src="assets/spinner.gif" />
    </div>
  </div>

  <div class="table-responsive text-center" *ngIf="!isLoading">
    <table class="mx-auto w-75 p-3 table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nom de la pizza</th>
          <th scope="col">Image</th>
          <th scope="col">Prix</th>
          <th scope="col">Ingrédients</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pizza of data" (click)="selectionPizza(pizza)">
              <th scope="row"><a>{{ pizza.nom }}</a></th>
              <td><img src="{{ pizza.image }}" /></td>
              <td>{{ pizza.prix }} €</td>
              <td>
                <ul>
                  <li *ngIf="pizza.anchois">Anchois</li>
                  <li *ngIf="pizza.jambon">Jambon</li>
                  <li *ngIf="pizza.magret">Magret</li>
                  <li *ngIf="pizza.miel">Miel</li>
                </ul>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
