<h4>Accueil</h4>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">La fabriqu'à pizza</h5>
        <p class="card-text">Choisissez vos ingrédients et créez la pizza de vos rêves !</p>
        <a href="fabrik" class="btn btn-primary">Je veux la créer</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Votre préférée</h5>
        <p class="card-text">Votre pizza préférée !</p>
        <a href="favorite" class="btn btn-primary">Je la choisis !</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">La carte</h5>
        <p class="card-text">Sélectionne votre ou vos pizzas sur la carte</p>
        <a href="carte" class="btn btn-primary">J'accède au menu</a>
    </div>
</div>