
<div class="container mt-3 text-center">
    <div class="row">
        <div class ="col-6 col-sm-4 col-md-4 p-2 ">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="card-title">La fabriqu'à pizza</h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="assets/fabrikPizza.png" alt="Card image cap">
                    <p class="card-text">Choisissez vos ingrédients et créez la pizza de vos rêves !</p>
                </div>
                <div class="card-footer">
                    <a routerLink="fabrik" class="btn btn-primary">Je veux la créer</a>
                </div>
            </div>
        </div>
        <div class ="col-6 col-sm-4 col-md-4 p-2">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="card-title">Votre préférée</h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="assets/PizzaFavoris.png" alt="Card image cap">
                    <p class="card-text">Votre pizza préférée !</p>
                </div>
                <div class="card-footer">
                    <a routerLink="favorite" class="btn btn-primary">Je la choisis !</a>
                </div>
            </div>
        </div>
        <div class ="col-6 col-sm-4 col-md-4 p-2">
            <div class="card h-100">
                <div class="card-header">
                    <h3 class="card-title">La carte</h3>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="assets/LaCarte.png" alt="Card image cap">
                    <p class="card-text">Sélectionne votre ou vos pizzas sur la carte</p>
                </div>
                <div class="card-footer">
                    <a routerLink="carte" class="btn btn-primary">J'accède au menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
