<h4>La fabriqu'à pizza !</h4>
<p>Ici tu peux sélectionner ta base, ainsi que les ingrédients de ta pizza !</p>

<form>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Quelle base de pizza souhaitez-vous ?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <input type="radio" name="base">Tomate (3€)
        <input type="radio" name="base">Crème (4€)
      </tr>
    </tbody>
  </table>

  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Sélectionnez vos ingrédients</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="anchois" type="checkbox" name="ingredients" /></td>
          <td><label for="anchois" >Anchois</label></td>
          <td><label for="anchois" >1€</label></td>
        </tr>
        <tr>
            <td><input id="jambon" type="checkbox" name="ingredients" /></td>
            <td><label for="jambon" >Jambon</label></td>
            <td><label for="jambon" >2€</label></td>
        </tr>
        <tr>
            <td><input id="miel" type="checkbox" name="ingredients" /></td>
            <td><label for="miel" >Miel</label></td>
            <td><label for="miel" >3€</label></td>
        </tr>
        <tr>
            <td><input id="magret" type="checkbox" name="ingredients" /></td>
            <td><label for="magret" >Magret</label></td>
            <td><label for="magert" >4€</label></td>
        </tr>
      </tbody>
    </table>

    <div>
      <a>Prix: _€</a>
      <button class="btn btn-success" routerLink="/commande">Commander</button>
    </div>
</form>
