<h4>La fabriqu'à pizza !</h4>
<p>Ici tu peux sélectionner ta base, ainsi que les ingrédients de ta pizza !</p>

<form>
  <a>Base</a><br>

  <input type="radio" name="base" />Tomates 3€
  <input type="radio" name="base" />Crème 4€

  <br><a>Ingredients</a><br>
  <input type="checkbox" name="ingredients" />Anchois 1€
  <input type="checkbox" name="ingredients" />Jambon 2€
  <input type="checkbox" name="ingredients" />Miel 3€
  <input type="checkbox" name="ingredients" />Magret 4€

  <br><a>Prix: _€</a><br>

  <button routerLink="/commande">Commander</button>

</form>
